@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* main clrs */
    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;
    --h1-clr: #ccd6f6;
    --p-clr: #5defcf;
    --home-clr:#ADE682;

    /* hvr clrs */
    --hover-color: rgb(126, 87, 194);
    --hover-color1: #7748a2;
    /*magic text*/
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);

    /* bgground clrs */
    --body-bg-color: rgb(6, 11, 25);
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-2: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;
    --border-color: rgb(255, 255, 255, 0.1);
    --font-clr: #ccd6f6;
    --li-clr: ##53d3b8;

    /* clr filter */
    --color-filter: invert(1);

    /* box shadow */
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /* font size */
    --small-font-size: 0.9em;
    --normal-font-size: 2.4rem !important;


    /* scroll bar clrs */
    --scroll-bar-colors: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;

    /*marg bott*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*zindex*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}

img,
picture,
/* svg, */
video {
    display: inline-block;
    max-width: 100%;
}

* {
    /* cursor: none; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font: inherit;
    /* overflow: hidden; */
    /* outline: 3px solid lightgreen !important;  */
    /* debugging css */
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

html {
    overflow-y: scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling:touch;    */
}
/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
    background: transparent;

}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}


/* header */

.home-btn
{
    position: fixed;
    z-index: 20;
    display: flex;
    padding: 2.5rem;
}

.home-btn i
{
    scale: 3;
}

.home-btn i:hover
{
    color: var(--hover-color);
}
.masa
{
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.masa h1 span
{
    margin-top:-175px;
    font-size: var(--normal-font-size);
}

.home-txt
{
    position:absolute;
    z-index: 9999;
    text-align: center;
    /* transform: translate(50%,50%); */
}

svg
{
    /* transform: translate(50%,50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8,0.8);
}

.container
{
    position:absolute;
    height: 100vh;
    width: 100vw;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}

section {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
 }

@keyframes animate-to-center {
    from
    {
        transform: translateY(0%);
    }
    to 
    {
        transform: translateY(40%);
    }
  }
  
  .animate-to-center {
    animation: animate-to-center 1s linear;
  }
  
#farfurie1
{
    animation: papica 8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#farfurie2
{
    animation: papica 8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#farfurie3
{
    animation: papica 8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#farfurie3:hover
{
    animation-play-state: paused;
}

#farfurie4
{
    animation: papica 8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#farfurie4:hover
{
    animation-play-state: paused;
}

#farfurie5
{
    animation: papica 8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#farfurie5:hover
{
    animation-play-state: paused;
}

@keyframes papica {
    from
    {
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(360deg);
    }
}

.mancare1
{
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: green;
}

.mancare2
{
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.mancare3
{
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.mancare4
{
    display: flex;
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    background-color: salmon;

}
.mancare5
{
    display: flex;
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

}

.home h1 span {
    animation: background-pan 3s linear infinite;
    background-size: 200%;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    position:absolute;
    /* font: 26px Monaco, MonoSpace; */
    height: 200px;
    position: absolute;
    width: 20px;
    transform-origin: bottom center;
}
.home
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--home-clr);
}
.char1 { transform: rotate(-42deg); }
.char2 { transform: rotate(-36deg); }
.char3 { transform: rotate(-30deg); }
.char4 { transform: rotate(-24deg); }
.char5 { transform: rotate(-18deg); }
.char6 { transform: rotate(-12deg); }
.char7 { transform: rotate(-6deg); }
.char8 { transform: rotate(0deg); }
.char9 { transform: rotate(6deg); }
.char10{ transform: rotate(12deg); }
.char11{ transform: rotate(18deg); }
.char12{ transform: rotate(24deg); }
.char13{ transform: rotate(30deg); }
.char14{ transform: rotate(36deg); }
.char15{transform:rotate(42deg);}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  } 
/* @keyframes centru1 {
    from
    {
        transform: translateY(0%);
    }
    to 
    {
        transform: translateY(150%);
    }
} */

/* @keyframes centru2 {
    from
    {
        transform: translate(0%, 0%);
    }
    to 
    {
        transform: translate(-141%, 50%);
    }
} */

/* @keyframes centru2a
{
    from
    {
        transform: transalteZ(0%);
    }
    to
    {
        transform: translateZ(50%);
    }
} */

.animate-class {
    animation: centru1 1s linear;
  }
  